{% extends 'base.html' %}
{% load static %}

{% block title %}{{section}} {{type}}{% endblock title %}

{% block content %}
<div class="rounds-container">
    <div class="rounds-container-button column">
{% if round %}
<h1 class="text__third__screen">Выбор раунда</h1> 
{% comment %} добавить стиль {% endcomment %}
    {% for i in round %}
    <a href="{% url 'game' section type i %}" class="round-button">
        Раунд {{i}}
    </a>
    {% endfor %}
{% else %}
<h1 class="text__third__screen">Раздел не заполнен!</h1>
{% comment %} добавить стиль {% endcomment %}
{% endif %}
<a href="{% url 'sigame' %}" class="round-button">
    Вернуться назад
</a>
</div>
</div>
{% endblock content %}